<tune-requirements>
    <header>{title}</header>
    <section>
        <p>This tune is in the key of {key} and requires the following bells:</p>
        <div class="bellList"></div>
        <button onclick={close}>OK, Thanks</button>
    </section>
</tune-requirements>