$displaySize: 70vh;
$headerHeight: 30px;

tune-requirements {
  position: absolute;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  width: 80vw;
  height: calc(#{$displaySize} - #{$headerHeight});

  left: 10vw;
  top: 25px;

  overflow-x: hidden;
  overflow-y: hidden;

  border: 2px solid black;
  background: rgba(255,255,255,0.9);
  z-index: 100;

  header {
    flex: 0;
    margin: 0;
    padding: 0;

    background: black;
    font-size: 150%;
    text-align: center;
    color: white;
  }

  section {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;

    .requirement {
      font-size: 35px;
      display: inline-block;
      padding: 25px;

      .bell {
        position: relative;
        display: inline-block;
        svg {
          width: 35px;
        }
      }
    }

    button {
      cursor: pointer;
      text-align: center;
      border: 2px solid blue;
      margin: 0 auto;
      padding: 6px;
      background: #4392db;
      color: white;
      font-weight: bold;
    }
  }
}