<collection-list>
    Collection:&nbsp;<select onchange={collectionSelected}>
        <option value="{index}" each={item, index in collectionPointers} selected="{item === currentCollection}">{item.name}</option>
    </select>
</collection-list>