@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);

transport-controls {
  flex: 1;

  .buttons {
    display: inline-block;

    a {
      display: inline-block;
      cursor: pointer;
      padding: 4px;
      border: 1px solid darkgray;
      border-radius: 4px;
      background: lighten( lightgray, 10% );
    }
  }

  .tempo {
    display: inline-block;
    padding: 2px 8px;
    input {
      width: 45px;
    }
  }

}