<transport-controls>
    <section class="buttons">
        <button onclick={play} disabled="{playDisabled}"><i class="fas fa-play"></i></button>
        <button onclick={pause} disabled="{pauseDisabled}"><i class="fas fa-pause"></i></button>
        <button onclick={stop} disabled="{stopDisabled}"><i class="fas fa-stop"></i></button>
    </section>
    <section class="tempo">
        Tempo (bpm): <input type="number" value={tempo} step="5" onchange={updateTempo}/>
    </section>
    <select onchange={updateDisplay}>
        <option value="0">Blocks</option>
        <option value="1">Bells</option>
        <option value="2" selected="selected">Bells with Notes</option>
    </select>
</transport-controls>