<tune-list>
    Tune:&nbsp;<select onchange={tuneSelected}>
        <option value="{index}" each={item, index in tunePointers} selected="{index === currentTuneIndex}">{item.name}</option>
    </select>
</tune-list>