<bells-app>
    <section class="topbar">
        <transport-controls></transport-controls>
        <collection-list></collection-list>
        <tune-list></tune-list>
        <header>
            <h1>GroupBells v{version}</h1>
        </header>
    </section>

    <tune-display></tune-display>

    <footer>
        &copy; David Dupplaw 2019 |
        Bell icon made by <a href="https://www.flaticon.com/authors/daniel-bruce">Daniel Bruce</a> from <a
            href="http://www.flaticon.com">www.flaticon.com</a>.
    </footer>
</bells-app>
