@import url('https://fonts.googleapis.com/css?family=Cinzel:900');

$background-colour: lighten( lightblue, 10% );

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

bells-app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  .topbar {
    padding: 4px;
    background: $background-colour;
    border-bottom: 1px solid lightgray;

    select {
      background: white;
      border: 1px solid gray;
      border-radius: 4px;
    }

    header {
      float: right;
      margin: 0;
      padding: 0;

      h1 {
        font-family: 'Cinzel', serif;
        text-align: center;
        margin: 0;
        padding: 2px;
        font-size: 100%;
        color: royalblue;
        text-shadow: 2px 2px #CCC;
      }
    }
  }

  footer {
    flex-grow: 0;
    width: 100%;
    bottom: 0;
    font-size: 65%;
    text-align: center;
    background: $background-colour;
    padding: 4px;
    border-top: 1px solid lightgray;
  }
}