<tune-display>
    <div class="chordOverlay"></div>
    <div class="positionOverlay">
        <div></div><div></div>
    </div>
    <tune-requirements></tune-requirements>
    <div class="movingStuff">
        <div class="tuneDisplay"></div>
    </div>
</tune-display>