@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

$displaySize: 500px;
$playMarkerPosition: 200px; /* also need to change in DisplayConfiguration.ts */

$colour-bell-A0:  #26028e;
$colour-bell-As0: #8a3483;
$colour-bell-B0:  #b81490;
$colour-bell-C1:  #ce1417;
$colour-bell-Cs1: #da3138;
$colour-bell-D1:  #eb856f;
$colour-bell-Ds1: #e8ae33;
$colour-bell-E1:  #f6e43f;
$colour-bell-F1:  #63db84;
$colour-bell-Fs1: #0e7b67;
$colour-bell-G1:  #01473f;
$colour-bell-Gs1: #010272;
$colour-bell-A1:  #400b7e;
$colour-bell-As1: #630863;
$colour-bell-B1:  #bd62b3;
$colour-bell-C2:  #ce1417;
$colour-bell-Cs2: #da3138;
$colour-bell-D2:  #eb856f;
$colour-bell-Ds2: #e8ae33;
$colour-bell-E2:  #f6e43f;
$colour-bell-F2:  #abd7a4;
$colour-bell-G2:  #118359;
$colour-bell-A2:  #4392db;
$colour-bell-B2:  #4a54f0;
$colour-bell-C3:  #ff5072;


tune-display {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  .chordOverlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3em;
    background: transparentize(royalblue, 0.2);
  }

  .positionOverlay {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    z-index: -100;
    border-right: 3px dotted red;

    div {
      &:first-child {
        width: $playMarkerPosition;
      }

      &:last-child {
        width: 3px;
        border-left: 1px dotted red;
      }
    }
  }

  .movingStuff {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .barLine {
      position: absolute;
      width: 0;
      height: 100%;
      border: 2px solid grey;
    }

    .beatLine {
      position: absolute;
      width: 0;
      height: 100%;
      border: 1px solid #CCC;
    }

    .comment {
      font-family: 'Kaushan Script', sans-serif;
      position: absolute;
      font-size: 200%;
      color: white
    }

    .noteLetterDisplay {
      position:relative;
      height: 100%;

      text-align: left;

      span.noteLetter {
        font-size: 60px;
        display: block;
        width: 25px;
        position: absolute;
        border: 1px solid red;
        background: azure;
        color: white;

        &.colour57 { background: $colour-bell-A0; }
        &.colour58 { background: $colour-bell-As0; }
        &.colour59 { background: $colour-bell-B0; }
        &.colour60 { background: $colour-bell-C1; }
        &.colour61 { background: $colour-bell-Cs1; }
        &.colour62 { background: $colour-bell-D1; }
        &.colour63 { background: $colour-bell-Ds1; }
        &.colour64 { background: $colour-bell-E1; color: black; }
        &.colour65 { background: $colour-bell-F1; }
        &.colour66 { background: $colour-bell-Fs1; }
        &.colour67 { background: $colour-bell-G1; }
        &.colour68 { background: $colour-bell-Gs1; }
        &.colour69 { background: $colour-bell-A1; }
        &.colour70 { background: $colour-bell-As1; }
        &.colour71 { background: $colour-bell-B1; }
        &.colour72 { background: $colour-bell-C2; }
        &.colour73 { background: $colour-bell-Cs2; }
        &.colour74 { background: $colour-bell-D2; }
        &.colour75 { background: $colour-bell-Ds2; }
        &.colour76 { background: $colour-bell-E2; color: black; }
        &.colour77 { background: $colour-bell-F2; }
        &.colour79 { background: $colour-bell-G2; }
        &.colour81 { background: $colour-bell-A2; }
        &.colour83 { background: $colour-bell-B2; }
        &.colour84 { background: $colour-bell-C3; }
      }
    }

    .noteline {
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      border: 1px solid lightgray;

      &.noteline60 {
        border: 1px solid black;

      }
    }

    .bellDisplay {
      position:relative;
      height: 100%;

      .bellWithNote {
        position: absolute;

        .bell {
          position: absolute;
          top: 0;
          left: 0;
        }

        .bellName {
          position: absolute;
          width: 30px;
          text-align: center;
          color: white;
          left: 2px;
          font-weight: bold;
          font-size: 130%;

          &.colour76, &.colour64 {
            color: black;
          }
          //border: 1px solid black;
          //background: rgba(255,255,255,0.8);
        }
      }
    }
  }
}

.bell {
  display: block;
  width: 45px;
  position: absolute;

  svg {
    filter: drop-shadow( -2px -2px 1px #AAA );
  }

  &.colour57 svg g g path { fill: $colour-bell-A0; }
  &.colour58 svg g g path { fill: $colour-bell-As0; }
  &.colour59 svg g g path { fill: $colour-bell-B0; }
  &.colour60 svg g g path { fill: $colour-bell-C1; }
  &.colour61 svg g g path { fill: $colour-bell-Cs1; }
  &.colour62 svg g g path { fill: $colour-bell-D1; }
  &.colour63 svg g g path { fill: $colour-bell-Ds1; }
  &.colour64 svg g g path { fill: $colour-bell-E1; }
  &.colour65 svg g g path { fill: $colour-bell-F1; }
  &.colour66 svg g g path { fill: $colour-bell-Fs1; }
  &.colour67 svg g g path { fill: $colour-bell-G1; }
  &.colour68 svg g g path { fill: $colour-bell-Gs1; }
  &.colour69 svg g g path { fill: $colour-bell-A1; }
  &.colour70 svg g g path { fill: $colour-bell-As1; }
  &.colour71 svg g g path { fill: $colour-bell-B1; }
  &.colour72 svg g g path { fill: $colour-bell-C2; }
  &.colour73 svg g g path { fill: $colour-bell-Cs2; }
  &.colour74 svg g g path { fill: $colour-bell-D2; }
  &.colour75 svg g g path { fill: $colour-bell-Ds2; }
  &.colour76 svg g g path { fill: $colour-bell-E2; }
  &.colour77 svg g g path { fill: $colour-bell-F2; }
  &.colour79 svg g g path { fill: $colour-bell-G2; }
  &.colour81 svg g g path { fill: $colour-bell-A2; }
  &.colour83 svg g g path { fill: $colour-bell-B2; }
  &.colour84 svg g g path { fill: $colour-bell-C3; }
}

